@CHARSET "UTF-8";


body {
	background-color: white;
    padding-top:0;
	margin: 0;
	width: 100%;
}


#container {
	padding-top:0;
	margin: 0 auto;  
	width: 989px;
	background-color: #fff;
	box-shadow-left: 5px;
}

 .ui-widget {  
     font-size: 12px !important;  
 }

.content{
	width: 980px;
	background-color: #fff;
}

#footer {
	height: 36px;
	background-image: url("#{resource['images/layout:footer.png']}");
	overflow: visible;
}

#footer p {
    clear: both;
    color: black;
    padding: 4px 3px;
    text-align: center;
}


/** Classes para formulários */
div.formulario p.caption{
	padding: 0px;
	font-family: Verdana;
	font-style: normal;
	font-weight: bold;
	font-variant: small-caps;
	text-align: center;
	background: url(menu/bg_opcao_menu.gif) center;
	color: white;
	border: 1px solid #6A6A6A;
	border-bottom: 0;
}




table.formulario {
	margin: 0 auto;
	border: 1px solid #BED6F8;
	border-top: 0px;
    font-size: 12px !important;
    border-radius: 0px 0px 6px 6px;
    background: url("/SisGH/javax.faces.resource/images/ui-bg_highlight-hard_100_f5f3e5_1x100.png.jsf?ln=primefaces-bluesky") repeat-x scroll 50% top;
}

table.formulario caption{
	padding: 0.5em 1em 0.3em;
	background-image:url(http://localhost:8080/SIAE/javax.faces.resource/images/header.png.jsf?ln=primefaces-bluesky);
    border: 1px solid #BED6F8;
    color: black;
    font-weight: bold;
    border-radius: 6px 6px 0px 0px;
    padding-left: 5px;
}


table.subformulario {
	margin: 0 auto;
	border: 1px solid #BED6F8;
	border-top: 0px;
    font-size: 12px !important;
    border-radius: 0px 0px 0px 0px;
}

table.subformulario caption{
	padding: 0.2em 1em 0.1em;
	background:  #BED6F8;
    border: 1px solid #BED6F8;
    color: black;
    font-weight: bold;
    border-radius: 0px 0px 0px 0px;
}

table.formulario tfoot {
	text-align: center;
}

table.formulario tfoot {
	text-align: center;
}

table.formulario th { text-align: left; }
table.formulario thead { text-align: left; }
table.formulario tr { text-align: left; }

td.obrigatorio { 
		background: url("#{resource['images/comuns/obrigatorio.png']}") no-repeat right;
		padding-right: 13px;
}

#info-usuario {
  background-position:initial initial;
  background-repeat:initial initial;
  float:right;
  width: 989px;
  border-color: #2191C0;
}

.pessoal-usuario {
  background-color: #EFF3FA;
  background-position: initial initial;
  background-repeat: initial initial;
  margin:4px;
  width: 
}

.foto {
  float:right;
  margin:5px;
  width:100px;
}

div.legenda {
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}