@CHARSET "UTF-8";


body {
    background: url("#{resource['images/layout/bg.jpg']}") repeat scroll center center; 
    padding-top:0;
	margin: 0;
	width: 100%;
}

.navegacao {
	position: relative;
	left: 0;
	width: 990px;
	padding-bottom: 10px;
}

#content {
	display: table;
}

#main-content {
		display: table-cell;
		position:relative;
		width: 800px;
		padding-right: 5px;
		padding-left: 5px;
}

header, footer, section, aside, nav, article {
	display: block;
}

aside {
		display: table;
		width: 180px;
		position: relative;
}

#container {
	padding-top:0;
	margin: 0 auto;  
	width: 989px;
	background-color: #fff;
	box-shadow-left: 5px;
}

 .ui-widget {  
     font-size: 12px !important;  
 }

.content{
	width: 980px;
	background-color: #fff;
}


#footer {
    background: none repeat scroll 0 0 #3A8104;;
    border-bottom: 4px solid #D99C44;
    color: #FFFFFF;
    line-height: 2em;
    position: relative;
    text-align: center;
}

#footer p {
    color: white;
    text-align: center;
    font-size: 12px;
    margin: 0;
    padding: 0;
}


/** Classes para formulários */
div.formulario p.caption{
	padding: 0px;
	font-family: Verdana;
	font-style: normal;
	font-weight: bold;
	font-variant: small-caps;
	text-align: center;
	background: url(menu/bg_opcao_menu.gif) center;
	color: white;
	border: 1px solid #45930B;
}



table.formulario {
	margin: 0 auto;
    font-size: 12px !important;
    border-radius: 0px 0px 6px 6px;
    background:  repeat-x scroll 50% top;
    border: 1px solid #45930B;
 
}

table.formulario caption{
	padding: 0.5em 1em 0.3em;
	background: url("/siae/javax.faces.resource/images/ui-bg_highlight-soft_33_3a8104_1x100.png.jsf?ln=primefaces-le-frog") repeat-x scroll 50% 50% #3A8104;
   	border: 1px solid #45930B; 
    font-weight: normal;
    border-radius: 6px 6px 0px 0px;
    padding-left: 5px;
    color: white;
}

table.formulario tfoot { text-align: center; font-weight: normal;}
table.formulario th {  text-align: right;  font-weight: normal;}
table.formulario thead {  text-align: left;  font-weight: normal;}
table.formulario tr { text-align: left;  font-weight: normal;}
table.formulario tr td { padding: 2px; font-weight: normal;}
table.formulario tr { padding: 3px 0 3px 20px; font-weight: normal;}
table.formulario th { text-align: right;  font-weight: normal;}

table.subformulario {
	margin: 0 auto;
	border: 1px solid #45930B;
	border-top: 0px;
    font-size: 12px !important;
    border-radius: 0px 0px 0px 0px;
    width: 100%;
}

table.subFormulario tr td { padding: 2px; }

table.subformulario caption{
	padding: 0.2em 1em 0.1em;
	background:  #45930B;;
    border: 1px solid #45930B;
    color: white;
    border-radius: 0px 0px 0px 0px;
}
table.subformulario tfoot { text-align: center; }

th.obrigatorio{ 
	background:  url("#{resource['images/layout/obrigatorio.png']}") no-repeat right ; 
	padding-right: 13px;
}
th.rotulo{ 
	text-align: right; 
	font-weight: bold; 
}
td.obrigatorio{ 
	background:  url("#{resource['images/layout/obrigatorio.png']}") no-repeat right ; 
	padding-right: 13px;
}
div.obrigatorio{ 
	background:  url("#{resource['images/layout/obrigatorio.png']}") no-repeat left;
	font-size: 0.9em;
	padding-left: 13px;
	margin: auto 39%;
}

div.caption {
	padding: 0.2em 1em 0.1em;
	background:  #BED6F8;
    border: 1px solid #BED6F8;
    color: black;
    font-weight: bold;
    border-radius: 0px 0px 0px 0px;
}
div.obrigatorioModalPanel { 
		background:  url("#{resource['images/layout/obrigatorio.png']}") no-repeat;
		font-size: 0.9em;
		margin: auto 30%;
}
span.obrigatorio{ 
	background:  url("#{resource['images/layout/obrigatorio.png']}") no-repeat right ; 
	padding-right: 13px;
}

div.legenda {
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}

.bt {
  display: inline-block;
  height:auto;
  padding: 18px 60px;
  font:normal 16px/1.1em arial;
  text-align: right;
  border:1px solid #d0d0d0;
  border-top-color:#ececec;
  border-bottom-color:#909090;
  color:#909090;
  background:#ffff00;
  background: -moz-linear-gradient(top, #fff 40%, #BED6F8);
  background: -webkit-linear-gradient(top, #fff 40%, #BED6F8);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#BED6F8');
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 5px 7px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 5px 7px rgba(0,0,0,.2);
}